
<div class="header">

  <div class="headerSmall">
    <ul>
      <li>Home</li>
      <li>AAA</li>
      <li>BBB</li>
      <li>CCC</li>
    </ul>
  </div>

  <div class="headerMain">
    <div class="headerMain_container">
    
    <div class="Logo">
      <img src="">
      <p>VBIstock</p>
    </div>

    <div class="search">
      <form class="d-flex" method="POST" >
                               
                                 <input class="form-control me-2" type="search" placeholder="Looking for..." aria-label="Search" name="symbol"
                                        id="symbol" style="width:1000px; text-transform: uppercase;">
                            
                               
                               <button class="btn btn-outline-dark" type="submit" id="btnsubmit">GO</button>
                            </form>
    </div>

    <div class="mailContact">
      <a href="contact" >
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
      </svg>
      </a>
    </div>

  </div>

  <div class="headerBar">
    <nav class="stroke">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="stock">Stock</a></li>
      <li><a href="chart">Chart</a></li>
      <li><a href="watchlist">WatchList</a></li>
      <li><a href="peratio">PE</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>

  </div>
  
  </div>

  
</div>