<h1 class="headerText">PE</h1>
<form>
  <div class="formPE" style="display: flex; ">
  <div class="form-group" style="margin-right: 10px; width:100px;">
    <label for="exampleInputEmail1">Symbols 1 </label>
    <input type="text" class="form-control" id="symbolsPE1" name="symbolsPE1" value="{{symbolsPE1}}" style="text-transform:uppercase">
   
  </div>
  <div class="form-group"  style="margin-right: 10px; width:100px;">
    <label for="exampleInputPassword1">Symbols 2</label>
    <input type="text" class="form-control" id="symbolsPE2" name="symbolsPE2" value="{{symbolsPE2}}" style="text-transform:uppercase">
  </div>
  <div class="form-group" style="margin-right: 10px; width:100px;">
    <label for="exampleInputEmail1">Symbols 3</label>
    <input type="text" class="form-control" id="symbolsPE3"  name="symbolsPE3" value="{{symbolsPE3}}" style="text-transform:uppercase">
  </div>
  
  <button type="submit" class="btn btn-dark" style="height:39px; margin-top:31px;">Check</button>
  </div>
</form>




<h1>Highcharts Trellis chart emulation</h1>

<table id="trellis">
    <tr>
        <td class="first"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>



  <script src="/javascripts/peratioPage.js"></script>